<c-container fluid class="my-2">
  <c-row>
    <c-col>
      <c-card class="user-info" class="border-0">
        <div class="d-flex flex-column align-items-center">
          <c-card-body>
            <c-avatar color="warning" status="success" class="avatar-xl">{{ initials }}</c-avatar>
          </c-card-body>

          <c-card-body class="mx-auto">
            <h4 cCardTitle>{{ user.name }}</h4>
            <p cCardText>
              {{ user.email }}
            </p>
          </c-card-body>

          <c-card-body>
            <button cButton color="primary" shape="rounded-pill">
              <svg [cIcon]="icons.cilEnvelopeClosed" size="lg" title="List Icon" class="align-middle"></svg>
              Enviar mensagem
            </button>

            <button cButton color="light" shape="rounded-pill">
              <svg [cIcon]="icons.cilStar" size="lg" title="List Icon" class="me-2"></svg>
              <span>Favoritar</span>
            </button>
          </c-card-body>
        </div>
      </c-card>
    </c-col>
    <c-col class="my-auto">
      <p cCardText class="justify-content-center align-items-center">
        Thiago Silva é um engenheiro de computação especializado em arquitetura de chips, com experiência no
        desenvolvimento e otimização de circuitos de alto desempenho. Apaixonado por inovação, ele trabalha na criação
        de soluções eficientes e escaláveis para hardware avançado.
      </p>
    </c-col>
  </c-row>
</c-container>
