<c-container fluid>
  <app-user-info [user]="user"></app-user-info>

  <c-nav layout="justified" variant="pills" class="p-2">
    <c-nav-item>
      <a (click)="selectedSection = 'projects'" [active]="selectedSection === 'projects'" cNavLink>
        Projetos <c-badge color="secondary">8</c-badge></a
      >
    </c-nav-item>
    <c-nav-item>
      <a (click)="selectedSection = 'contributions'" [active]="selectedSection === 'contributions'" cNavLink>
        Contribuições
      </a>
    </c-nav-item>
    <c-nav-item>
      <a (click)="selectedSection = 'about'" [active]="selectedSection === 'about'" cNavLink> Sobre </a>
    </c-nav-item>
  </c-nav>

  <div [ngSwitch]="selectedSection">
    <div *ngSwitchCase="'projects'">
      <div class="mt-2 mb-2">
        <c-container fluid>
          <c-dropdown [ngStyle]="{ 'min-width.px': 300 }">
            <button cButton cDropdownToggle color="secondary">
              <svg cIcon name="cilFilter" size="md" title="Filter Icon"></svg>
              Filtrar por: {{ selectedFilter == 'All' ? 'Todos' : selectedFilter }}
            </button>
            <div cDropdownMenu>
              <button cDropdownItem (click)="setFilter('All')">Todos</button>
              <button cDropdownItem (click)="setFilter('Digital')">Digital</button>
              <button cDropdownItem (click)="setFilter('Analog')">Analógico</button>
            </div>
          </c-dropdown>
        </c-container>
      </div>
      <div>
        <app-user-projects [projects]="filteredProjects"></app-user-projects>
      </div>
    </div>
    <div *ngSwitchCase="'contributions'">
      <p>Aqui estarão listadas as contribuições do usuário.</p>
      <div>
        <app-user-contributions [contributions]="contributions"></app-user-contributions>
      </div>
    </div>
    <div *ngSwitchCase="'about'">
      <app-user-about></app-user-about>
    </div>
  </div>
</c-container>
