<c-card>
  <img
    cCardImg="top"
    src="https://img.freepik.com/vetores-premium/vetor-de-emblema-do-logotipo-do-icone-de-tecnologia_186868-6.jpg"
  />
  <c-card-body>
    <h5 cCardTitle>{{ project.title }}</h5>
    <p cCardText>
      {{ project.description }}
    </p>
    <button cButton (click)="toggleLike()" [cTooltip]="liked ? 'Descurtir' : 'Curtir'">
      <fa-icon [icon]="liked ? solidHeart : regularHeart" size="lg"></fa-icon>
    </button>
    <c-toaster [placement]="position" class="p-3" position="fixed">
      <c-toast (timer)="onTimerChange($event)" (visibleChange)="onVisibleChange($event)" [visible]="visible()">
        <c-toast-header> {{ project.title }} </c-toast-header>
        <c-toast-body>
          <p>{{ liked ? likedProjectMessage : unlikedProjectMessage }}</p>
          <c-progress thin [value]="percentage()" />
        </c-toast-body>
      </c-toast>
    </c-toaster>
  </c-card-body>
  <c-card-footer>
    <div>
      <c-badge *ngFor="let tag of project.tags" color="primary" class="me-1">
        {{ tag }}
      </c-badge>
    </div>
  </c-card-footer>
</c-card>
